@model ISB42603Final036.Models.HousingLoan

<head>
    <title>Loan Application Result</title>
    <link href="~/css/PosLaju.css" rel="stylesheet" />
</head>
<body>
    <p>
        <label>@Html.DisplayNameFor(x => x.CustomerID):</label>
        @Html.DisplayFor(x => x.CustomerID)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.Name):</label>
        @Html.DisplayFor(x => x.Name)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.Gender):</label>
        @Html.DisplayFor(x => x.Gender)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.CreditStatus):</label>
        @Html.DisplayFor(x => x.CreditStatus)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.InterestRate):</label>
        @Html.DisplayFor(x => x.InterestRate)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.Principal):</label>
        @Html.DisplayFor(x => x.Principal)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.NumberOfYears):</label>
        @Html.DisplayFor(x => x.NumberOfYears)
    </p>
    <p>
        <label>@Html.DisplayNameFor(x => x.MonthlyPayment):</label>
        @Html.DisplayFor(x => x.MonthlyPayment)
    </p>
    
    
    <p>@Html.ActionLink("Back to List", "Index")</p>
</body>