<p>All numbers in array</p>
<ul>
    @foreach (int n in ViewBag.Numbers) {
        <li>@n</li>
    }
</ul>

<p>Number of integers in array: @ViewBag.CountNumber</p>
<p>Largest integer in array: @ViewBag.MaxNumber</p>
<p>Smallest integer in array: @ViewBag.MinNumber</p>
<p>Sum of integers in array: @ViewBag.SumNumber</p>
<p>Average of integers in array: @ViewBag.AverageNumber</p>
