@model IEnumerable<MVC2036.Models.Item>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Items", FormMethod.Get)) {
    <p>
        <label>Search:</label>
        @Html.TextBox("Search")
        <input type="submit" value="Search" />
        @Html.ActionLink("Back to Full List", "Index")
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDesc)
                </td>
                <td>
                    <img src="~/Images/@item.ItemImage" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cat.CatTitle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(
    (IPagedList)Model, page => Url.Action("Index", new { Search = ViewBag.Search, Page = page }),
    new PagedListRenderOptions {
        PageClasses = new[] { "page-link" },
        LiElementClasses = new[] { "page-item" }
    }
)

