@model MVC1036.Models.Person

<p>Name: @Model.Name</p>
<p>Weight: @Model.Weight.ToString("n1")</p>
<p>Height: @Model.Height.ToString("n2")</p>
<p>Vaccination status: @Model.Vaccinated</p>
<p>BMI: @Model.Bmi.ToString("n1")</p>
<p>BMI Class: @Model.BmiClass</p>